[Unit]
Description=Nomad
Documentation=https://nomadproject.io/docs/
Wants=consul.service
Wants=network-online.target
After=consul.service
After=network-online.target

[Service]
Environment="NOMAD_LICENSE_PATH=/opt/nomad/lic/nomad.hclic"
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/bin/nomad agent -config /etc/nomad.d
KillMode=process
KillSignal=SIGINT
LimitNOFILE=infinity
LimitNPROC=infinity
Restart=on-failure
RestartSec=2
StartLimitBurst=3
TasksMax=infinity

[Install]
WantedBy=multi-user.target