#!/bin/bash
set -e

exec > >(tee /var/log/startup-script.log|logger -t startup-script -s 2>/dev/console) 2>&1

echo 'export VAULT_ADDR=https://vault.service.consul:8200' | sudo tee -a /etc/profile.d/99-hashicorp.sh
echo 'export NOMAD_ADDR=http://nomad.service.consul:4646' | sudo tee -a /etc/profile.d/99-hashicorp.sh

mkdir /tmp/files
while [[ ! -f /tmp/files/consul-tls/consul-gossip.txt && ! -f /tmp/files/consul-tls/consul-agent-ca.pem ]]; do
  echo 'Waiting for Consul TLS Files'
  /snap/bin/gsutil -m rsync -r gs://${config_bucket} /tmp/files/
  sleep 5
done

/usr/local/bin/run-consul.sh \
  --${consul_mode} \
  --cluster-tag-name "${consul_cluster_tag_name}"

if [[ ${elk_stack} == true ]]; then
  # /tmp/files/run-elk.sh
  /tmp/files/run-prometheus.sh
  /tmp/files/config-grafana.sh
fi