#!/usr/bin/env bash
set -e

exec > >(tee /var/log/startup-script.log|logger -t startup-script -s 2>/dev/console) 2>&1

mkdir /tmp/files
while [[ ! -f /tmp/files/consul-tls/consul-gossip.txt && ! -f /tmp/files/consul-tls/consul-agent-ca.pem ]]; do
  echo 'Waiting for Consul TLS Files'
  /snap/bin/gsutil -m rsync -r gs://${config_bucket} /tmp/files/
  sleep 5
done

/usr/local/bin/run-consul.sh \
  --${consul_mode} \
  --cluster-tag-name "${consul_cluster_tag_name}" \
  --cluster-wan-join-tag "${consul_cluster_wan_tag_name}" \
  --consul-primary-dc "${consul_primary_dc}"
