#!/bin/bash
set -e

exec > >(tee /var/log/user-data.log|logger -t user-data -s 2>/dev/console) 2>&1

/opt/consul/bin/run-consul --server --cluster-tag-name "${cluster_name}" --wan-cluster-tag-name "${consul_wan_tag}"