#!/bin/bash
set -e

exec > >(tee /var/log/startup-script.log|logger -t startup-script -s 2>/dev/console) 2>&1

mkdir /tmp/files
while [[ ! -f /tmp/files/consul-tls/consul-gossip.txt && ! -f /tmp/files/consul-tls/consul-agent-ca.pem ]]; do
  echo 'Waiting for Consul TLS Files'
  /snap/bin/gsutil -m rsync -r gs://${config_bucket} /tmp/files/
  sleep 5
done
chmod +x /tmp/files/*.sh

%{ if hashistack_image }
/usr/local/bin/run-consul.sh \
  --${consul_mode} \
  --cluster-tag-name "${consul_cluster_tag_name}"
/usr/local/bin/run-nomad.sh \
  --${nomad_mode} \
  --enable-acls "${nomad_acl_enabled}" \
  --num-servers "${nomad_num_servers}" \
  --cluster-tag-name "${nomad_cluster_tag_name}"
%{ else }
/tmp/files/boot-hashistack.sh \
  --consul-mode "${consul_mode}" \
  --consul-version "${consul_version}" \
  --consul-ent "${consul_ent}" \
  --consul-cluster-tag-name "${consul_cluster_tag_name}" \
  --vault-mode "${vault_mode}" \
  --vault-storage "${vault_storage}" \
  --vault-version "${vault_version}" \
  --vault-ent "${vault_ent}" \
  --auto-unseal-key-project-id "${vault_auto_unseal_key_project_id}" \
  --auto-unseal-key-region "${vault_auto_unseal_key_region}" \
  --auto-unseal-key-ring "${vault_auto_unseal_key_ring}" \
  --auto-unseal-crypto-key-name "${vault_auto_unseal_crypto_key_name}" \
  --nomad-mode "${nomad_mode}" \
  --nomad-version "${nomad_version}" \
  --nomad-ent "${nomad_ent}" \
  --nomad-num-servers "${nomad_num_servers}" \
  --nomad-cluster-tag-name "${nomad_cluster_tag_name}" \
  --nomad-acl-enabled "${nomad_acl_enabled}" \
  --consul-template "${consul_template_ver}" \
  --envconsul "${envconsul_ver}" \
  --terraform "${terraform_ver}" \
  --elk-stack "${elk_stack}"
%{ endif }