#!/bin/bash
set -e

exec > >(tee /var/log/user-data.log|logger -t user-data -s 2>/dev/console) 2>&1

/usr/local/bin/run-consul --client --cluster-tag-name "${consul_server_cluster_tag_name}"

if [[ "${nomad_acl_enabled}" == "true" ]] ; then
  /usr/local/bin/run-nomad --server --num-servers "${num_servers}" --cluster-tag-name "${nomad_server_join_tag}" --enable-acls
else
  /usr/local/bin/run-nomad --server --num-servers "${num_servers}" --cluster-tag-name "${nomad_server_join_tag}"
fi