#!/bin/bash
set -e

exec > >(tee /var/log/startup-script.log|logger -t startup-script -s 2>/dev/console) 2>&1

export DEBIAN_FRONTEND=noninteractive

mkdir /tmp/files
while [[ ! -f /tmp/files/consul-tls/consul-gossip.txt && ! -f /tmp/files/consul-tls/consul-agent-ca.pem ]]; do
  echo 'Waiting for Consul TLS Files'
  /snap/bin/gsutil -m rsync -r gs://${config_bucket} /tmp/files/
  sleep 5
done

/usr/local/bin/run-consul.sh \
  --${consul_mode} \
  --cluster-tag-name "${consul_cluster_tag_name}"
/usr/local/bin/run-nomad.sh \
  --${nomad_mode} \
  --enable-acls "${nomad_acl_enabled}" \
  --num-servers "${nomad_num_servers}" \
  --cluster-tag-name "${nomad_cluster_tag_name}"
