#!/bin/bash
set -e

exec > >(tee /var/log/startup-script.log|logger -t startup-script -s 2>/dev/console) 2>&1

mkdir /tmp/files
while [[ ! -f /tmp/files/consul-tls/consul-gossip.txt && ! -f /tmp/files/consul-tls/consul-agent-ca.pem ]]; do
  echo 'Waiting for Consul TLS Files'
  /snap/bin/gsutil -m rsync -r gs://${config_bucket} /tmp/files/
  sleep 5
done

/usr/local/bin/run-consul.sh \
  --${consul_mode} \
  --cluster-tag-name "${consul_cluster_tag_name}"

if [[ ${vault_auto_unseal_key_project_id} == "" ||
      ${vault_auto_unseal_key_region} == "" ||
      ${vault_auto_unseal_key_ring} == "" ||
      ${vault_auto_unseal_crypto_key_name} == "" ]];then
  log_error "Auto Unseal parameters missing"
  exit 1
fi

/usr/local/bin/run-vault.sh \
  --vault-storage "${vault_storage}" \
  --tls-cert-file "/opt/vault/tls/vault.crt.pem" \
  --tls-key-file "/opt/vault/tls/vault.key.pem" \
  --auto-unseal-key-project-id "${vault_auto_unseal_key_project_id}" \
  --auto-unseal-key-region "${vault_auto_unseal_key_region}" \
  --auto-unseal-key-ring "${vault_auto_unseal_key_ring}" \
  --auto-unseal-crypto-key-name "${vault_auto_unseal_crypto_key_name}"
